.homepage {
    background-image: url("../../images/kotki.jpeg");
    background-size: 100%;
    background-repeat: no-repeat;


    h1 {
        font-size: 70px;
        text-align: center;
        text-shadow: 7px 7px 10px gray;
    }
}