@import "./helpers/variables";
@import "./pages/home";
@import "./pages/gallery";
@import "./pages/contact";
@import "./layout/header";
@import "./components/windows";;

body {
    font-family: Tahoma;
    font-weight: 500;
    font-variant: small-caps;
}